<div class="row small-10">
  <div class="small-2 columns align-center">
    <div class="openSong" (click)="openSong(track.preview_url)" style="color:white">
      <img src="/assets/images/play.svg" alt="" style="background-color: #fff; border-radius: 25px; height: 50px;">
    </div>
  </div>
  <div class="small-10 columns" style="color: aliceblue">{{track.name}}</div>
</div>
