.artist_wrapper{
  background-color: gray;
  border-radius: 0 0 15px 15px;
  padding: 10px 0 10px 0;
}
.albums{
  background-size: cover;
  background-position: 0 50%;
  background-repeat:no-repeat;
  border-radius: 0 0 15px 15px;
  color: white;
}
.albumsWrapper{
  background-color: rgba(0,0,0,0.7);
}
.album{
  cursor: pointer;
}
