<div class="row align-center artist_wrapper">
  <div class="small-2">
    <img src="{{artist?.images[2].url}}" alt=""></div>
  <div class="small-7 small-offset-1">
    <div class="artist_name"><h1>{{artist?.name}}</h1></div>
    <div class="artist_followers">Followers: {{artist?.followers.total}}</div>
  </div>
</div>
<div class="row albums align-center small-8" [ngStyle]="{'background-image': 'url('+ artist?.images[0].url +')'}">
  <div class="albumsWrapper small-10">
    <div class="small-4 middle-1 columns album" *ngFor="let album of albums?.items" [routerLink]="['/album',album.id]">
      <ng-spt-album [album]="album"></ng-spt-album>
    </div>
  </div>
</div>
