.album_wrapper{
  background-color: gray;
  border-radius: 0 0 15px 15px;
  padding: 10px 0 10px 0;
}
.track{
  background-color: rgba(0,0,0,0.8);
  padding-bottom: 7px;
  padding-top: 7px;
}
.album_artist{
  color: aliceblue;
}
.album_artist:hover{
  color: #7856ff;
}
.tracks{
  background-size: cover;
  background-position: 0 50%;
  background-repeat:no-repeat;
  border-radius: 0 0 15px 15px;
}
.openSong{
  cursor: pointer;
}
