<div class="row align-center album_wrapper">
  <div class="small-2">
    <img src="{{album?.images[1].url}}" alt=""></div>
  <div class="small-7 small-offset-1">
    <div class="album_name"><h1>{{album?.name}}</h1></div>
    <div class="album_label">Label: {{album?.label}}</div>
    <div class="album_artists">
      <a [routerLink]="['/artist', artist.id]" class="album_artist" *ngFor="let artist of album?.artists">{{artist.name}}</a>
    </div>
  </div>
</div>
<div class="row tracks align-center small-8" [ngStyle]="{'background-image': 'url('+ album?.images[0].url +')'}">
  <div class="row track small-10" *ngFor="let track of album?.tracks.items">
    <div class="small-2 middle-1 columns align-center">
      <div class="openSong" (click)="openSong(track.preview_url)" style="color:white">
        <img src="/assets/images/play.svg" alt="" style="background-color: #fff; border-radius: 25px; height: 50px;">
      </div>
    </div>
    <div class="small-10 middle-11 columns" style="color: aliceblue">{{track.name}}</div>
  </div>
</div>
