.wrapper{
  background: white url("/assets/images/pexels-photo-196652.jpeg") center;
  background-size: cover;
  height: 900px;
}
#searchInput{
  margin-top: 150px;
  will-change: margin-top;
}
#searchInput.not_empty{
  animation: centerme 1.3s;
  margin-top: 5px;
}
@keyframes centerme {
  0%   {margin-top: 150px;}
  100%  {margin-top: 5px;}
}
.searchWrapper{
  height: 100%;
}
.results{
  background-color: grey;
  border-radius: 15px;
  will-change: height;
}
.result-album{
  text-align: center;
  cursor: pointer;
}
.result_name{
  font-size: 1.5em;
  margin-left: 2em;
  margin-top: 2em;
}
.result-track{
  padding-left: 1em;
}
.tracks{
  margin: 5px;
}
