<div class="row align-center wrapper">
  <div class="small-8 columns align-self-middle searchWrapper">
    <input type="text" [ngClass]="searchQuery.length ? 'not_empty': ''" class="search" [(ngModel)]="searchQuery" id="searchInput" (keyup)="search(searchQuery)" placeholder="Enter song name...">
    <div class="results" *ngIf="results && searchQuery.length">
      <div class="result-albums" *ngIf="results.albums.items.length">
        <div class="result_name">Albums</div>
        <hr>
        <div class="row">
          <div [routerLink]="['/album', album.id]" class="small-3 align-center columns result-album" *ngFor="let album of results.albums.items">
            <ng-spt-album [album]="album"></ng-spt-album>
          </div>
        </div>
      </div>
      <div class="result-artist" *ngIf="results.artists.items.length">
        <div class="result_name">Artists</div>
        <hr>
        <div class="row">
          <div class="small-3 align-center columns result-album" *ngFor="let artist of results.artists.items" [routerLink]="['/artist' , artist.id]">
            <ng-spt-artist [artist]="artist"></ng-spt-artist>
          </div>
        </div>
      </div>
      <div class="result-track" *ngIf="results.tracks.items.length">
        <div class="result_name">Tracks</div>
        <hr>
        <div class="tracks" *ngFor="let track of results.tracks.items">
          <ng-spt-track [track]="track" (trackURL)="openSong($event)"></ng-spt-track>
        </div>
      </div>
      <div class="no_results" *ngIf="!results.albums.items.length && !results.artists.items.length && !results.tracks.items.length">
        <div class="result_name">Sorry but no songs :(
          <br>
          Try something else.
        </div>
      </div>
    </div>
  </div>
</div>
